
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (min-width: 530px) and (min-device-width: 481px)" href="/stylesheets/wide.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px)" href="/stylesheets/smartphone.css" />
  </head>
  <body>
    <div id="page-wrap">
      <header class="main" id="h1">
        <h2>Quiz<span>: el juego de las preguntas</span></h2>
      </header>

      <nav class="main" id="n1" role="navigation">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes">Preguntas</a></span>
        <span><a href="/author">Créditos</a></span>
      </nav>

      <section class="main" id="s1">
      <%if (errors.length) { %>
        <span id="ErrorMsgs">
        Corregir errores: </br />
        <% for(var i in errors) { %>
          <span><%=errors[i].message%></span><br />
        <% } %>
        </span>
      <% } %>
        <div><%- body %></div>
      </section>

      <footer class="main" id="f1">
        <a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a> |
        <a href="https://github.com/aperezl/quiz-2015">GitHub</a>
      </footer>
    </div>
<a href="https://github.com/aperezl/quiz-2015"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
  </body>
</html>
